@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <a class="nav-link text-dark" asp-area="" asp-page="/AdvantageTool/Index" style="text-decoration:underline"><h2 class="display-4" style="font-size: 2rem;">Query Tool</h2></a>
        <h4>Ref</h4>
        <iframe id="resframe" class="display-4" style="width: 100%;height: -webkit-fill-available;" src="https://docs.google.com/document/d/1KObIVnX9qS6irBK3Mbr7KIHDDMprBa-I/preview?&amp;overridemobile=true" frameborder="0">
        </iframe>
    </div>
